<div class="container dashboard" style="background-color: transparent; border: none">

  <div class="d-flex flex-direction-column" style="background-color: transparent; border: none">

    <div class="col col-12" style="background-color: transparent; border: none">
      <% if current_user %>
        <div class="welcome text-center"> <%= "Hi, #{current_user.first_name}. Welcome to your Job's Dashboard!" %> </div>
      <% end %>
      <div class="row justify-content-evenly">

        <div class="col col-4" style="background-color: transparent; border: none">

          <%= bar_chart current_user.jobs.group(:job_type).count, library: {backgroundColor: "transparent"}, title: "Status" %>
        </div>

        <div class="col col-4" style="background-color: transparent; border: none">
          <%= pie_chart current_user.jobs.group(:role).count, library: {backgroundColor: "transparent"}, title: "Role" %>
        </div>

        <div class="col col-4" style="background-color: transparent; border: none">
          <%= column_chart current_user.jobs.group(:level).count, library: {backgroundColor: "transparent"}, title: "Salary" %>
        </div>
    </div>

  </div>

</div>
