$red: #FD1015;
$blue: #3e82e9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #000;
$light-gray: #F4F4F4;

$Shaka-1-hex: #F76E4B;
$Shaka-2-hex: #FFAC5D;
$Shaka-3-hex: #F6F4EA;
$Shaka-4-hex: #70D6FF;
$Shaka-5-hex: #6481F5;