.card-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.card-home-up-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
}

.card-home-up-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-home-up-content p {
  font-size: 16px;
  line-height: 1.5;
}

*{
	margin: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 20px;
}

.sect{
	height: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

.subSection{
	display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
	height: 50%;
	background-color: $Shaka-3-hex;
}

 .sectOne{
	background-image: url(image_path("brooke-cagle-xcgh5_-QIXc-unsplash.jpg"));
}

.sectTwo{
	background-image: url(image_path("brooke-cagle-xcgh5_-QIXc-unsplash.jpg"));
}

.fraseprincipal{
  padding-top: 100px;
  padding-left: 10px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-weight:500;
}

/* Large desktop */
@media only screen and (min-width: 1200px) {
  .sect, .subSection {
    font-size: 24px;
    background-position: center center;
  }
  .subSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sect, .subSection {
    font-size: 20px;
    background-position: center center;
  }
  .subSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sect, .subSection {
    font-size: 16px;
    background-position: center center;
  }
  .subSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Smartphone */
@media only screen and (max-width: 767px) {
  .sect, .subSection {
    font-size: 14px;
    background-position: center center;
  }
  .subSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Force image to render */
@media only screen and (max-width: 480px) {
  .sect, .subSection {
    background-attachment: scroll;
    background-position: center center;
  }
  .subSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}
