/* Dark Light Mode */
.theme {
  --background: #F6F4EA;
}

[data-dark-light-mode-value="dark"] {
  // --primary-color: rgb(150, 65, 255);
  // --primary-variant: #6c63ff;
  // --secondary-color: #03dac5;
  // --on-primary: #000;
  // --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(4, 4, 4, 0.7);
  --background: #040404;
}

.theme {
  background-color: var(--background);
}

.theme b-toggle {
  background-color: var(--on-background-alt);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--on-background);
}

.theme b-toggle:hover{
  color: #f8f004;
}

.theme b-toggle:focus {
  outline: none;
}

.my-modal{
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-card-button-top {
  width: 35px;
  border: none;
  margin-left: 10px;
  background: none;
}

.add-card-button-top:hover {
  // color: #838c91;
  color: #565555;
  transition-duration: 0.8s;
}

.add-card-button-edit {
  width: 35px;
  background: none;
  border: none;

}

.add-card-button-edit:hover {
  color: #565555;
  transition-duration: 0.8s;
}

.bi-trash3{
  color: #b0b0b0;
}
.bi-trash3:hover{
  color: #565555;
}

.bi-plus-square{
  color: #b0b0b0;
  background-color: transparent;
}
.bi-plus-square:hover{
  color: #565555;
  background-color: transparent;
}
.bi-pencil{
  color: #b0b0b0;
}
.bi-pencil:hover{
  color: #565555;
  background-color: transparent;
}
