<h1> Vagas </h1>


<%= render "kanban", wishes: @wishes,
                              applications: @applications,
                              interviews: @interviews,
                              tests: @tests,
                              replies: @replies %>
