<<<<<<< HEAD
<h1> Vagas </h1>

<% @jobs.each do |job| %>
<h3>Empresa: <%= job.company %> </h3>
<h3>Status: <%= job.status %> </h3>
<h3>Salário: R$ <%= job.salary %> </h3>
<h3>-------------------</h3>
<% end %>
=======
<%= render "kanban" %>
>>>>>>> ac036be6f8ff0c1c33ffc7deb366c4b78263d493
