<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner1.png") %>);">
  <div class="container">
    <h1>WE ARE <strong>HIRED</strong>!</h1>
    <p>Improve your job search bla bla bla</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>