<div class="sect sectOne">
  <div class="fraseprincipal" >
    <div class="backgroundprincipal">
      <span><h1>Take the stress out.</h1>
      <h3>Manage your job search journey!</h3></span>
    </div>
    <br>
    <%= link_to "Start Now!", new_user_registration_path, class: "btn btn_home" %>
  </div>
</div>
  </div>
	<div class="subSection">
    <div class="card-container-home">
      <div class="card-home-up-content">
        <h2>What we DO!</h2>
        <p>At <strong>HIRED!</strong>, we make available a kanban board, which allows from the insertion of the work, and the follow-up of the same until the moment to be <strong>HIRED!</strong></p>
      </div>
      <div class="card-home-up-content">
        <h2>How we DO IT!</h2>
        <p>The process emphasizes the organization of the workflow: first, the will, then the application, followed by the interview, the tests and ending with the answers...</p>
      </div>
      <div class="card-home-up-content">
        <h2>Thats the WAY!</h2>
        <p>Along with all this, you still have a field of notes, a dashboard, graphics , and a calendar, to mark and follow your appointments. And much more... Get started.</p>
      </div>
    </div>
  </div>
	<div class="sect sectTwo">
    <div class="fraseprincipal" >
      <div class="backgroundprincipal">
        <span><h1 id="firstfrase">Simple, Easy and Powerful.</h1>
        <h3 id= "secfrase">All-In-One job journey management tool.</h3></span>
      </div>
      <br>
      <%= link_to "Start Now!", new_user_registration_path, class: "btn btn_home" %>
    </div>
  </div>
  <%= render "shared/footer" %>
