<%= render "pages/banner" %>

<div class="container home">
  <div class="grid">
	    <div class="card">
		    <h2>Card 1</h2>
		      <section>
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida lorem sit amet mi interdum, a bibendum urna facilisis. Nunc sed erat id nibh aliquet faucibus eu sed elit. Integer euismod tellus vel mi faucibus, eu facilisis urna malesuada. Duis vestibulum neque risus, a bibendum justo rhoncus nec. Ut sagittis sapien eget ex faucibus ultricies. Donec sollicitudin tristique nunc, id bibendum tortor tempus id. Aliquam tincidunt erat vitae quam bibendum, vel laoreet elit luctus. Nam varius auctor orci, sed placerat magna dignissim sed. Suspendisse potenti. In tempor justo vel turpis tristique aliquam. Donec ac metus a massa consequat feugiat sit amet sit amet ipsum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida lorem sit amet mi interdum, a bibendum urna facilisis. Nunc sed erat id nibh aliquet faucibus eu sed elit. Integer euismod tellus vel mi faucibus, eu facilisis urna malesuada. Duis vestibulum neque risus, a bibendum justo rhoncus nec. Ut sagittis sapien eget ex faucibus ultricies. Donec sollicitudin tristique nunc, id bibendum tortor tempus id. Aliquam tincidunt erat vitae quam bibendum, vel laoreet elit luctus. Nam varius auctor orci, sed placerat magna dignissim sed. Suspendisse potenti. In tempor justo vel turpis tristique aliquam. Donec ac metus a massa consequat feugiat sit amet sit amet ipsum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida lorem sit amet mi interdum, a bibendum urna facilisis. Nunc sed erat id nibh aliquet faucibus eu sed elit. Integer euismod tellus vel mi faucibus, eu facilisis urna malesuada. Duis vestibulum neque risus, a bibendum justo rhoncus nec. Ut sagittis sapien eget ex faucibus ultricies. Donec sollicitudin tristique nunc, id bibendum tortor tempus id. Aliquam tincidunt erat vitae quam bibendum, vel laoreet elit luctus. Nam varius auctor orci, sed placerat magna dignissim sed. Suspendisse potenti. In tempor justo vel turpis tristique aliquam. Donec ac metus a massa consequat feugiat sit amet sit amet ipsum.</p>
		      </section>
	    </div>

      <div class="card">
		    <h2>Card 3</h2>
		    <section>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida lorem sit amet mi interdum, a bibendum urna facilisis. Nunc sed erat id nibh aliquet faucibus eu sed elit. Integer euismod tellus vel mi faucibus, eu facilisis urna malesuada. Duis vestibulum neque risus, a bibendum justo rhoncus nec. Ut sagittis sapien eget ex faucibus ultricies. Donec sollicitudin tristique nunc, id bibendum tortor tempus id. Aliquam tincidunt erat vitae quam bibendum, vel laoreet elit luctus. Nam varius auctor orci, sed placerat magna dignissim sed. Suspendisse potenti. In tempor justo vel turpis tristique aliquam. Donec ac metus a massa consequat feugiat sit amet sit amet ipsum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida lorem sit amet mi interdum, a bibendum urna facilisis. Nunc sed erat id nibh aliquet faucibus eu sed elit. Integer euismod tellus vel mi faucibus, eu facilisis urna malesuada. Duis vestibulum neque risus, a bibendum justo rhoncus nec. Ut sagittis sapien eget ex faucibus ultricies. Donec sollicitudin tristique nunc, id bibendum tortor tempus id. Aliquam tincidunt erat vitae quam bibendum, vel laoreet elit luctus. Nam varius auctor orci, sed placerat magna dignissim sed. Suspendisse potenti. In tempor justo vel turpis tristique aliquam. Donec ac metus a massa consequat feugiat sit amet sit amet ipsum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida lorem sit amet mi interdum, a bibendum urna facilisis. Nunc sed erat id nibh aliquet faucibus eu sed elit. Integer euismod tellus vel mi faucibus, eu facilisis urna malesuada. Duis vestibulum neque risus, a bibendum justo rhoncus nec. Ut sagittis sapien eget ex faucibus ultricies. Donec sollicitudin tristique nunc, id bibendum tortor tempus id. Aliquam tincidunt erat vitae quam bibendum, vel laoreet elit luctus. Nam varius auctor orci, sed placerat magna dignissim sed. Suspendisse potenti. In tempor justo vel turpis tristique aliquam. Donec ac metus a massa consequat feugiat sit amet sit amet ipsum.</p>
		    </section>
	    </div>
    </div>
  </div>
<%= render "shared/footer" %>
