
<div class="container-home">
  <div class="d-flex">
    <div class="col col-6">
    <h2>Take the stress out and save time. Manage your job search journey with HIRED!</h2>
    <h2>Start today for free.</h2>
    </div>
    <div class="col col-6">
    <%= image_tag "home1.jpg", alt: "Seated women with a laptop", width: 200 %>
    </div>
  </div>
</div>
<div class="container-home-cards">
  <div class="card0">
    <div class="border0">
      <h2 class="h2-cl">Connect, start your job application here...</h2>
    </div>
  </div>
  <div class="card0 card1">
    <div class="border0">
      <h2 class="h2-cl">Write your plans, wishes....</h2>
    </div>
  </div>
  <div class="card0 card2">
    <div class="border0">
      <h2 class="h2-cl">Add your interviews, tests...</h2>
    </div>
  </div>
	<div class="card0 card3">
    <div class="border0">
      <h2 class="h2-cl">Track your status, role, and much more... </h2>
    </div>
  </div>
	<div class="card0 card4">
    <div class="border0">
      <h2 class="h2-cl">All the tools, to help your journey until...</h2>
    </div>
  </div>
</div>
<%= render "shared/footer"%>
