<div class="container-home">
  <div class="card0">
    <div class="border0">
      <h2>Connect, start your job application here...</h2>
    </div>
  </div>
  <div class="card0 card1">
    <div class="border0">
      <h2>Write your plans, wishes....</h2>
    </div>
  </div>
  <div class="card0 card2">
    <div class="border0">
      <h2>Add your interviews, tests...</h2>
    </div>
  </div>
	<div class="card0 card3">
    <div class="border0">
      <h2>Track your status, role, and much more... </h2>
    </div>
  </div>
	<div class="card0 card4">
    <div class="border0">
      <h2>All the tools, to help your journey until...</h2>
    </div>
  </div>
</div>
<%= render "shared/footer"%>