<div class="sect sectOne">
  <div class="fraseprincipal" >
    <h1>Take the stress out. Save time</h1>
    <h3>Manage your job search journey with <strong> <%= link_to "HIRED!", new_user_registration_path, class: "btn button_two btn-home" %></strong></h3>
  </div>
</div>
  </div>
	<div class="subSection">
    <div class="card-container-home">
      <div class="card-home-up-content">
        <h2>What we DO!</h2>
        <p>At <strong>HIRED!</strong>, we make available a kanban board, which allows from the insertion of the work, and the follow-up of the same until the moment to be <strong>HIRED!</strong></p>
      </div>
      <div class="card-home-up-content">
        <h2>How we DO IT!</h2>
        <p>The process emphasizes the organization of the workflow to be aimed at, first, the will, then the application, followed by the interview, the tests and ending with the answers...</p>
      </div>
      <div class="card-home-up-content">
        <h2>Thats the WAY!</h2>
        <p>Along with all this, you still have a field of notes, for each step of the process, a dashboard, with detailed graphics about your choices, and a calendar, to mark and follow your appointments. And much more... Get started.</p>
      </div>
    </div>
  </div>
	<div class="sect sectTwo">
    <div class="fraseprincipal" >
      <h1>Take the stress out. Save time</h1>
      <h3>Manage your job search journey with <strong> <%= link_to "HIRED!", new_user_registration_path, class: "btn button_two btn-home" %></strong></h3>
    </div>
  </div>
  <%= render "shared/footer" %>
