.container-calendar {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}
.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.bt-cal {
  color: #070707 !important;
  border: none !important;
  background: none;
}

.bt-cal:hover {
  color: #ffffff !important;
  // border: none;
  // background: none;
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3BB4C1;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #3BB4C1;
  color: white;
}
