.footer {
  position: fixed;
  bottom: 0;
  // background: $Shaka-5-hex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0px 50px;
  color: $Shaka-3-hex;
}
