.hired {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #fafafa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #ffffff;
  // font-size: 14px;
  // font-weight: bold;
  // text-transform: uppercase;
  // letter-spacing: 1px;
}

.nav-link:hover {
  color: #b0b0b0;
}

.nav-item {
  margin: auto;
}
