// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "simple_calendar";

.button_orange{
  border: 1px solid #3BB4C1;
  background: white;
  color: #3BB4C1;
}

.button_orange:hover{
  background: #3BB4C1;
  color: white;
}
